@font-face {
  font-family: 'Nucleo Outline';
  src: url('../now-ui-dashboard/fonts/nucleo-outline.eot');
  src: url('../now-ui-dashboard/fonts/nucleo-outline.eot') format('embedded-opentype'),
  url('../now-ui-dashboard/fonts/nucleo-outline.woff2') format('woff2'),
  url('../now-ui-dashboard/fonts/nucleo-outline.woff') format('woff'),
  url('../now-ui-dashboard/fonts/nucleo-outline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.now-ui-icons {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.now-ui-icons.design_app:before {
  content: "\ea08";
}

.now-ui-icons.media-2_sound-wave:before {
  content: "\ea57";
}

.now-ui-icons.text_align-left:before {
  content: "\ea06";
}

.now-ui-icons.business_chart-bar-32:before {
  content: "\ea1e";
}

.now-ui-icons.ui-1_send:before {
  content: "\ea4d";
}

.now-ui-icons.business_globe:before {
  content: "\ea2f";
}