.btn,
.navbar .navbar-nav > a.btn {
    border-width: $border-thick;
    font-weight: $font-weight-normal;
    font-size: $font-size-small;
    line-height: $line-height;
    border: none;
    background-color: #FF5D29FF;
    border-radius: $border-radius-small;
    padding: $padding-btn-vertical $padding-btn-horizontal;
    cursor: pointer;
    margin: 20px auto;
    display: flex;
    justify-content: center;

    &:hover,
    &:focus,
    &:active,
    &.active{
        background-color: #e1714e;
    }
}
