.btn,
.navbar .navbar-nav > a.btn {
    border-width: $border-thick;
    font-weight: $font-weight-normal;
    font-size: $font-size-small;
    line-height: $line-height;
    border: none;
    margin: 10px 1px;
    background-color: #FF5D29FF;
    border-radius: $border-radius-small;
    padding: $padding-btn-vertical $padding-btn-horizontal;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active,
    &.active{
        background-color: #e1714e;
    }
}
