@include form-control-placeholder($default-color, 1);

.form-control {
    background-color: $transparent-bg;
    border: 1px solid $light-gray;
    border-radius: $btn-round-radius;
    color: $black-color;
    line-height: normal;
    height: auto;
    width: 300px;

    font-size: $font-size-small;

    &:focus{
        border: 1px solid $primary-color;
        @include box-shadow(none);
        outline: 0 !important;
        color: $black-color;
    }
}